@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/BubblegumSans-Regular.otf");
}
p{
    text-align: justify;
    text-indent: 30px;
}
a {
    color: blue;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
body{
    background-color: white;
    font-family: Arial, sans-serif;
}
div#interface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    padding: 10px;
}
header#cabecalho img#icone{
    position: relative;
    left: 720px;
    top: -50px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/logo-glass.jpg")no-repeat -10px 50px;
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #2fffa8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: 'Goldman', cursive;
    color: black;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}



/* Formatação de imagens com legendas */
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formatação do menu */
nav#menu{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: -235px;
    left : 270px;
    
}
nav#menu li{
    display: inline-block;
    background-color: #2fffa8;
    padding: 10px;
    margin: 0px;
    transition: background-color 0.2s;
}
nav#menu li#inicio{
    display: inline-block;
    background-color:white;
}

/*nav#menu li:hover{
    background-color: #000000;
    
}*/
nav#menu h1{
    display: none;
}
nav#menu a{
    color: black;
    text-decoration: none; 
    font-weight: bold; 
    font-family: Arial, sans-serif;
}
nav#menu a:hover{
    color:grey;
    text-decoration: underline; 
    font-weight: bold; 
    font-family: Arial, sans-serif;
    
}
section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid black;
    padding-right: 15px;
}
article#noticia-principal h2{
    font-size: 12pt;
    color: rgb(0, 0, 0);
    background-color: #2fffa8;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #2fffa8;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2{
    font-size: 13;
    color: #cecece;
    background-color: white;
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 12px;
    color: black;
}
.direita{
    text-align: right;
}
table#tabelaspec {
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
table#tabelaspec td.ce{
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bolder;
}
table#tabelaspec td.cd{
    background-color: #cecece;
}
table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}
table#tabelaspec caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;

}
aside#lateral{
    display: block;   
    width:350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #2fffa8;
}
aside#lateral h2{
    background-color: #2fffa8;
    color: black;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    font-size: 13pt;
}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
    background-color: black;
    color:#2fffa8;
}
footer#rodape p{
    text-align: center;
}


